@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 80%;
    margin: 0px auto;
}

/* GET STARTED (BUTTON) */
.start-btn {
    display: flex;
    align-items: center;
    width: 104px;
    height: 15px;
    padding: 8px 13px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    background-color: #2ecc71;
    transition: 0.2s ease;
}

.start-btn:hover{
    background-color: #25a25a !important;
}

.start-btn-arrow {
    margin-left: 10px;
    transition: 0.3s ease;
}

.start-btn:hover .start-btn-arrow {
    margin-left: 15px;
}
/* ------------------------------ */


/* ---HEADER START--- */
.header {
    border-bottom: 1px solid #f3f5f9;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

#nav-bar {
    padding: 20px 15px;
    transition: 0.3s ease;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-logo {
    margin: 15px 30px;
    transition: 0.3s ease;
}

#nav-bar-logo img {
    width: 165px;
    height: auto;
    transition: 0.3s ease;
}

#nav-menu-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav-menu-items {
    margin: 5px 20px;
    padding: 5px;
    transition: 0.1s ease;
}

.nav-menu-items a {
    text-decoration: none;
    color: #424242;
    font-weight: 600;
}

.nav-menu-items:hover a {
    color: #102b7b;
}

#nav-start-btn {
    background-color: #102b7b;
}

#nav-start-btn:hover {
    background-color: #0a1b4e !important;
}

.ham-under {
    display: none;
    float: right;
    padding: 20px;
}

.ham-over {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    transform: translate(500%, 0);
    transition: 0.2s ease;
}

#ham-less-btn {
    position: absolute;
    right: 50px;
    cursor: pointer;
    font-size: 28px;
}

.ham-over.show {
    z-index: 10;
    display: block;
    transform: translate(-97.5%, -1%); 
}

#ham-logo {
    text-decoration: none;
}

#ham-logo img{
    width: 165px;
    margin: 10px 20px;
}

#ham-more-btn {
    position: absolute;
    right: 50px;
    top: 20px;
    cursor: pointer;
    font-size: 28px;
}

#ham-less-btn {
    float: right;
    margin: auto 60px auto auto;
}

.ham-new {
    display: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: transparent;
}

#ham-less-btn {
    margin: 20px auto 50px 50px;
}

.new span {
    font-size: 16px;
    height: max-content;
    display: inline-block;
    color: #d4d4d4;
    margin-left: 10px;
}

.ham-over-list {
    list-style: none;
}

.ham-list-items {
    margin: 20px auto;
    width: max-content;
}

.ham-list-items a {
    text-decoration: none;
    color: #424242;
    font-size: 20px;
    font-weight: 600;
    margin: 40px auto 20px 20px;
    text-transform: uppercase;
    gap: 20px;
}

#ham-start-btn {
    width: 40%;
    margin: auto;
    text-align: center;
}

.pl-ic {
    grid-column: 1;
    font-weight: 600;
}

.ham-item-name {
    grid-column: 2;
    position: relative;
}

.item-name::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0px;
    height: 0.8px;
    width: 0px;
    background-color: #ffffff;
    transition: 0.3s ease;
}

.item-name:hover::after {
    width: 40px;
}
/* ---HEADER END--- */


/* ---INTRO START--- */
.intro-sec {
    background-image: url("Leapfrog Assets/Intro Section BG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#intro-overlay {
    background-color: #102b7bae;
}

#intro-overlay-inner {
    padding: 250px 20px 130px 20px;
}

#intro-p1 {
    color: white;
    font-size: 70px;
    line-height: 1;
}

#intro-p1 span {
    color: #2ecc71;
    position: relative;
}

#intro-p1 span::after {
    position: absolute;
    content: '';
    width: 228px;
    height: 10px;
    bottom: 0px;
    left: 0px;
    margin-bottom: -5px;
    background-color: #2ecc71;
}

#intro-p2 {
    width: 70%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    line-height: 1.4;
}

#intro-links {
    margin-top: 50px;
    display: flex;
}

#intro-start-btn {
    width: 96px;
    height: 20px;
    font-size: 10px;
}

#intro-more-links {
    margin-left: 50px;
}

#intro-links-p3 {
    color: white;
    font-size: 15px;
}

#intro-links-lm-btn {
    color: #2ecc71;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

#intro-links-lm-btn:hover {
    color: #25a25a;
}

.intro-lm-btn-arrow {
    font-size: 12px;
    margin-left: 5px;
    transition: 0.2s ease;
}

#intro-links-lm-btn:hover .intro-lm-btn-arrow {
    margin-left: 10px;
    color: #25a25a;
}

.quote-sec {
    padding: 150px 0px 100px 0px;
}

.quote-mark {
    font-size: 200px;
    z-index: -10;
}

#quote-area {
    width: 90%;
    margin: auto;
}

#quote-area-p1 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    line-height: 1.3;
}

#quote-area-p1::before {
    content: url('Leapfrog Assets/Quote Mark Img.svg');
    position: absolute;
    top: -80px;
    left: -80px;
    z-index: -100;
    opacity: 0.3;
}

#quote-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#quote-person-img {
    width: 60px;
    height: 60px;
}

#quote-person-info-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

#quote-person-name {
    font-size: 15px;
}

#quote-person-port {
    font-size: 14px;
    color: #424242;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* ---INTRO END--- */


/* ---CLIENTS START--- */
.clients-sec {
    background-color: #f5f8fc;
    padding: 100px 20px 50px 20px;
}

#client-title {
    font-size: 40px;
    width: 70%;
    color: #102b7b;
}

.option-area {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 80px 0px;
    padding: 0px 30px;
}

.option-list a {
    text-decoration: none;
    color: #424242
}

#option1 div, #option3 div {
    width: 80px;
    margin: auto;
}

#option2 p, #option4 p, #option5 p {
    width: max-content;
    margin: auto;
}

.icon-box {
    width: 80px;
    height: 80px;
    background-color: rgb(68, 68, 65);  
    border-radius: 17px; 
    transition: 0.2s ease;
}

.icon-box:hover {
    background-color: #2ecc71;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.12);
}

.icon-box:hover ~ .icon-info {
    color: #102b7b;
}

.icon-info {
    padding-top: 10px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.2s ease;
}

.icon-info:hover {
    color: #102b7b;
}

.slider-list {
    display: flex;
    padding: 10px;
}

.slider-left {
    width: 60%;
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-template-rows: 0.5fr 0.3fr;
}

.owl-carousel .owl-item img {
    grid-area: 1/1/3/2;
    display: block;
    width: 18px;
}

.slider-left-top p {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.3;
    padding: 0px 10px 10px 0px;
}

.slider-left-bottom-up {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.slider-left-bottom-up img {
    width: 80px!important;
    height: 80px;
    margin-right: 20px;
}

.slider-left-bottom-up h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.slider-left-bottom-up p {
    font-size: 14px;
    font-weight: 600;
    color: #424242;
}

.slider-left-bottom-down {
    margin-top: 50px;
}

.slider-left-bottom-down p {
    font-size: 14px;
    font-weight: 600;
    color: #424242;
}

.slider-text-btn {
    width: 40%;
    background-color: #fff;
    color: #2ecc71;
    border: 1px solid #2ecc71;
    position: relative;
    margin-top: 40px;
}

#slider-text-btn-1 {
    width: 310px;
}

#slider-text-btn-2 {
    width: 210px;
}

#slider-text-btn-3 {
    width: 300px;
}

#slider-text-btn-4 {
    width: 230px;
}

#slider-text-btn-5 {
    width: 285px;
}

.slider-text-btn:hover {
    background-color: #2ecc71!important;
    color: #fff;
    border: none;
}

.slider-btn-arrow {
    position: absolute;
    right: 25px;
    z-index: 1;
    transition: 0.2s ease;
}

.slider-text-btn:hover .slider-btn-arrow {
    display: none!important;
    z-index: -1;
}

.slider-btn-arrow-new {
    display: none;
    position: absolute;
    right: 25px;
    z-index: -1;
    transition: 0.2s ease;
}

.slider-text-btn:hover .slider-btn-arrow-new {
    display: block;
    right: 20px;
    z-index: 1;
}

.slider-right img {
    width: 520px!important;
}

.owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 112%;
    top: 40%;
    left: -6%;
}

.owl-carousel .owl-nav {
    transition: 0.3s ease;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.338);
} 
/* ---CLEINTS END--- */

/* ---VISION START--- */
.vision-sec {
    background-color: #102b7b;
    padding: 80px 20px 120px 20px;
}

.vision-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.vision-title h1 {
    font-size: 42px;
    font-weight: 700;
    width: 50%;
    color: #2ecc71;
}

#vision-show-btn {
    background-color: #fff;
    color: #102b7b;
    width: 118px;
    height: 20px;
}

#vision-show-btn:hover {
    background-color: #e6e6e6!important;
}

.vision-info p {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    width: 70%;
}

.vision-bottom {
    background: url("Leapfrog Assets/vision-dotted-line.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1150px;
    width: 85%;
    margin: auto;
}

.vision-bottom {
    display: flex;
    padding-top: 330px;
    margin-top: -280px;
}

.vision-bottom-in-boxes {
    margin-right: 30px;
}

.in-boxes-info {
    padding: 20px;
    width: 200px;
}

.vision-bottom-in-icons {
    font-size: 35px;
    margin-bottom: 20px;
}

.num-circle {
    width: 80px;
    height: 80px;
    background-color: #ff9c00;
    border-radius: 50%;
    line-height: 80px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.num-circle p {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.vision-bottom-in-boxes h4 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

.vision-bottom-in-list {
    list-style: none;
    color: #fff;
}

.vision-bottom-in-list li {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}
/* ---VISION END--- */


/* ---WORK START--- */
.work-sec {
    padding: 100px 20px;
}

.work-title-area h1 {
    font-size: 45px;
    font-weight: 700;
    color: #102b7b;
    margin-bottom: 20px;
}

.work-title-area p {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 50px;
}

.work-out-box {
    display: flex;
}

.work-in-box {
    padding: 60px 40px 50px 30px;
    margin: 10px 15px;
    background-color: #F5F8FC;
    display: inline-block;
    border-radius: 20px;
    transition: 0.2s ease;
}

.work-in-box > i {
    font-size: 40px;
    margin-bottom: 40px;
    margin-left: 5px;
}

.work-in-box h4 {
    font-size: 24px;
    font-weight: 700;
    color: #102b7b;
    margin-bottom: 35px;
    line-height: 1.4;
}

.work-in-p1 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 1.4;
}

.work-in-p2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 45px;
    line-height: 1.4;
}

.work-in-box:hover {
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.12);
}
/* ---WORK END--- */


/* ---THINK START--- */
.think-sec {
    padding: 120px 20px 100px 20px;
    background-color: #f5f8fc;
}

.think-title-area h1 {
    font-size: 42px;
    color: #102b7b;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
}

.think-title-area p {
    font-size: 20px;
    font-weight: 600;
    width: 95%;
    line-height: 1.4;
    letter-spacing: 0.7px;
}

.think-title-area p span a {
    font-weight: 400;
    color: #000;
    line-height: 1.5;
    transition: 0.2s ease;
}

.think-title-area p span a:hover {
    color: #2ecc71;
    text-decoration: none;
}

.think-playbook-area {
    display: grid;
    align-items: center;
    grid-template-columns: 0.8fr 0.67fr;
    margin-top: 80px;
}

.think-playbook-area > img {
    width: 600px;
}

.playbook-info-right {
    margin-bottom: 50px;
}

.playbook-info-right h5 {
    font-size: 15px;
    color: #2ecc71;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.playbook-info-right h2 {
    font-size: 27px;
    letter-spacing: 0.7px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.playbook-info-right p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.playbook-info-in-btn-area {
    display: flex;
    align-items: center;
}

#playbook-down-btn {
    width: 170px;
    margin-right: 20px;
}

#playbook-more-btn {
    color: #2ecc71;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

#playbook-more-btn:hover {
    color: #25a25a;
}

#playbook-more-btn:hover .intro-lm-btn-arrow {
    margin-left: 10px;
    color: #25a25a;
}
/* ---THINK END--- */


/* ---TRUSTED START--- */
.trusted-sec {
    padding: 80px 20px;
}

.trusted-top {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.trusted-bottom {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 10px;
    align-items: center;
}

.trusted-icon {
    width: max-content;
    margin: auto;
    align-items: center;
}

.trusted-icon img {
    width: 120px;
}
/* ---TRUSTED END--- */


/* ---HIRE START--- */
.hire-sec {
    background-color: #e1f7eb;
    position: relative;
    height: 400px;
    overflow: hidden;
    z-index: 0;
}

.dash-line {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px dashed #2ecc71;
    margin: auto;
}

#dash-line1 {
    width: 250px;
    height: 250px;
    z-index: -2;
    transition: .5s cubic-bezier(0, 0.65, 0.22, 0.88);
}
#dash-line2 {
    width: 500px;
    height: 500px;
    z-index: -2;
    transition: .5s cubic-bezier(0, 0.65, 0.22, 0.88);
    transition-delay: 0.05s;
}
#dash-line3 {
    width: 750px;
    height: 750px;
    z-index: -2;
    transition: .5s cubic-bezier(0, 0.65, 0.22, 0.88);
    transition-delay: 0.1s;
}

.hire-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.hire-inner h2 {
    color: #2ecc71;
    font-size: 40px;
    margin-bottom: 30px;
}

.form-in {
    width: max-content;
    margin: auto;
}

.form-in label {
    font-size: 23px;
    color: #102b7b;
    /* letter-spacing: 2px; */
    margin-right: 3px;
    position: relative;
}

.form-in label::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: -425px;
    width: 417px;
    height: 4px;
    background-color: #2ecc71;
}

.form-in select {
    border: none;
    background-color: transparent;
    font-size: 23px;
    font-weight: 700;
    color: #102b7b;
    position: relative;
}

.form-in select>option {
    background-color: transparent;
}

.hire-arrow-btn-area {
    z-index: 2;
    margin-top: 50px;
}

.hire-arrow-btn-area a {
    display: block;
    display: flex;
    width: 70px;
    height: 70px;
    background-color: #2ecc71;
    border-radius: 50%;
    margin: auto;
    text-decoration: none;
}

.hire-arrow-btn-area a:hover {
    background-color: #25a25a;
}

.hire-arrow-btn-area a:hover + .dash-line-wrapper #dash-line1 {
    width: 275px;
    height: 275px;
}

.hire-arrow-btn-area a:hover + .dash-line-wrapper #dash-line2 {
    width: 525px;
    height: 525px;
}

.hire-arrow-btn-area a:hover + .dash-line-wrapper #dash-line3 {
    width: 775px;
    height: 775px;
}

#hire-next-arrow {
    font-size: 25px;
    width: max-content;
    margin: auto;
}
/* ---HIRE END--- */


/* ---FOOTER START--- */
.footer {
    background-color: #212529;
    color: #fff;
    padding: 80px 20px;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-top-left h4 {
    font-size: 25px;
    margin-bottom: 20px;
}

.footer-top-left p {
    font-size: 16px;
    width: 80%;
    color: #e2e2e2;
}

.footer-top-right {
    display: flex;
    align-items: center;
}

.footer-top-right input {
    width: 400px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #222;
    background-color: rgba(255, 255, 255, 0.08);
    color: #a2a2a2;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease;
}

.footer-top-right input:focus {
    outline: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.footer-top-sub-btn {
    background-color: #2ecc71;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s ease;
}

.footer-top-sub-btn:hover {
    background-color: #25a25a;
}

.footer-top-sub-btn a{
    width: 100px;
    height: 40px;
    text-decoration: none;
    display: block;
    margin: auto;
    color: #fff;
    font-weight: 700;
    padding: 5px 10px;
    line-height: 40px;
}

.footer-mid {
    display: flex;
    margin-top: 120px;
    justify-content: space-around;
}

.footer-mid-list-box h5 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 700;}

.footer-mid-list-box ul {
    list-style: none;
}

.footer-mid-list-box ul li {
    margin-bottom: 20px;
}

.footer-mid-list-box ul li a{
    color: #767683;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: 0.2s ease;
}

.footer-mid-list-box ul li a:hover {
    color: #fff;
}

.footer-bottom {
    margin-top: 50px;
}

.footer-bottom-up {
    display: flex;
    align-items: center;
}

.footer-bottom-up h5 {
    text-transform: uppercase;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.26);
    font-weight: 400;
    margin-right: 120px;
}

.footer-bottom-up img {
    width: 100px;
    margin-right: 80px;
}

.footer-bottom-down {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.footer-bottom-down-left {
    display: flex;
    align-items: center;
}

.footer-bottom-down-left h5 {
    color: rgba(255, 255, 255, 0.54);
    font-weight: 400;
    font-size: 16px;
    margin-right: 20px;
}

.footer-bottom-down-left a {
    font-size: 15px;
    text-decoration: none;
    color: #2ecc71;
    font-weight: 600;
    margin-right: 20px;
}
/* ---FOOTER END--- */


/* ---MEDIA QUERY START(1010px - 1260px)--- */
@media (min-width: 1010px) and (max-width: 1260px) {
    .container {
        width: 90%;
    }

    .nav-menu-items {
        margin: 0px 10px;
    }

    .slider-right img {
        width: 420px !important;
    }

    .vision-bottom {
        background: transparent;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .think-playbook-area > img {
        width: 400px;
    }
    
    .hire-inner h2 {
        text-align: center;
    }

    .footer-bottom-down-left h5, .footer-bottom-down-left a {
        font-size: 12px;
    }
}
/* ---MEDIA QUERY END(1010px - 1260px)--- */


/* ---MEDIA QUERY START(780px - 1010px)--- */
@media (min-width:780px) and (max-width: 1010px) {
    .container {
        width: 95%;
    }

    .work-out-box {
        flex-wrap: wrap;
    }

    .ham-under {
        display: block;
    }

    .ham-menu {
        display: block;
    }

    .ham-over {
        display: block;
    }

    .ham-list-items {
        margin-bottom: 40px;
    }

    .ham-list-items a {
        transition: 0.2s ease;
    }

    a#ham-start-btn {
        width: 20%;
        height: 30px;
    }

    .ham-list-items a:hover {
        color: #102b7b;
    }

    .ham-new {
        display: block;
    }

    #nav-menu {
        display: none;
    }

    #nav-btn {
        display: none;
    }

    .slider-list {
        display: block;
    }

    .slider-left {
        width: 100%;
        display: block;
    }

    .vision-bottom {
        background: transparent;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .think-playbook-area {
        display: block;
    }  

    .hire-inner h2 {
        text-align: center;
    }

    .footer-top-right input {
        width: 250px;
    }

    .footer-mid-list-box h5 {
        font-size: 18px;
    }

    .footer-mid-list-box ul li a{
        font-size: 14px;
    }

    .footer-bottom-down {
        display: block;
    }

    .footer-bottom-down-left h5, .footer-bottom-down-left a {
        font-size: 12px;
    }
}
/* ---MEDIA QUERY END(780px - 1010px)--- */


/* ---MEDIA QUERY START(600px - 780px)--- */
@media (min-width: 600px) and (max-width: 780px) {
    .container {
        width: 95%;
    }

    .work-out-box {
        flex-wrap: wrap;
    }

    .ham-under {
        display: block;
    }

    .ham-menu {
        display: block;
    }

    .ham-over {
        display: block;
    }

    .ham-list-items {
        margin-bottom: 40px;
    }

    .ham-list-items a {
        transition: 0.2s ease;
    }

    a#ham-start-btn {
        width: 20%;
        height: 30px;
    }

    .ham-list-items a:hover {
        color: #102b7b;
    }

    .ham-new {
        display: block;
    }

    #nav-menu {
        display: none;
    }

    #nav-btn {
        display: none;
    }

    ul.option-area {
        flex-wrap: wrap;
    }

    .slider-list {
        display: block;
    }

    .slider-left {
        width: 100%;
        display: block;
    }

    .vision-bottom {
        background: transparent;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .think-playbook-area {
        display: block;
    }  

    .hire-inner h2 {
        text-align: center;
    }

    .footer-top {
        flex-wrap: wrap;
    }

    .footer-mid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }

    .footer-mid-list-box h5 {
        font-size: 18px;
    }

    .footer-mid-list-box ul li a{
        font-size: 14px;
    }

    .footer-bottom-up h5{
        font-size: 14px;
        margin-right: 20px;
    }

    .footer-bottom-down {
        display: block;
    }

    .footer-bottom-down-left h5, .footer-bottom-down-left a {
        font-size: 12px;
    }
}
/* ---MEDIA QUERY END(600px - 780px)--- */


/* ---MEDIA QUERY START(>600px)--- */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    .work-out-box {
        flex-wrap: wrap;
    }

    .ham-under {
        display: block;
    }

    .ham-menu {
        display: block;
    }

    .ham-over {
        display: block;
    }

    .ham-list-items {
        margin-bottom: 40px;
    }

    .ham-list-items a {
        transition: 0.2s ease;
    }

    a#ham-start-btn {
        width: 20%;
        height: 30px;
    }

    .ham-list-items a:hover {
        color: #102b7b;
    }

    .ham-new {
        display: block;
    }

    #ham-more-btn {
        top: 22px;
    }

    #nav-menu {
        display: none;
    }

    #nav-btn {
        display: none;
    }

    #intro-p1 {
        font-size: 60px;
    }

    #intro-p2 {
        font-size: 14px;
    }

    ul.option-area {
        flex-wrap: wrap;
    }

    #quote-area-p1 {
        font-size: 14px;
    }

    #quote-area-p1::before {
        transform: scale(0.5);
    }

    .slider-list {
        display: block;
    }

    .slider-left {
        width: 100%;
        display: block;
    }

    .slider-left-top p {
        font-size: 14px;
    }

    .slider-left-bottom-up img {
        transform: scale(0.5);
    }

    .slider-left-bottom-info h4{
        font-size: 14px;
    }
    .slider-left-bottom-info p{
        font-size: 10px;
    }

    .slider-left-bottom-down p {
        font-size: 12px;
    }

    .slider-right img {
        width: 250px !important;
        height: auto;
    }

    .slider-text-btn {
        width: auto !important;
    }

    .owl-carousel .owl-nav {
        opacity: 0;
    }

    .vision-title {
        display: block;
    }

    .vision-title h1 {
        width: 80%;
    }

    .vision-info p {
        width: 80%;
    }

    .vision-bottom {
        background: transparent;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .think-playbook-area {
        display: block;
    } 
    
    .think-playbook-area img {
        width: 200px;
    }


    .hire-inner h2 {
        text-align: center;
    }

    .trusted-bottom {
        display: block;
    }

    .form-in {
        display: flex;
        flex-direction: column;
    }

    .footer-top {
        flex-wrap: wrap;
    }

    .footer-top-right {
        flex-wrap: wrap;
    }

    .footer-top-right input {
        width: 80%;
    }

    .footer-mid {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
    }

    .footer-mid-list-box h5 {
        font-size: 18px;
    }

    .footer-mid-list-box ul li a{
        font-size: 14px;
    }

    .footer-bottom-up {
        display: block
    }

    .footer-bottom-up h5{
        font-size: 14px;
        margin-bottom: 20px;
    }

    .footer-bottom-up img {
        margin-bottom: 20px;
    }

    .footer-bottom-down {
        display: block;
    }

    .footer-bottom-down-left h5, .footer-bottom-down-left a {
        font-size: 12px;
    }
}
/* ---MEDIA QUERY END(>600px)--- */